{% load i18n %}

<tr>
  <td>
    <a href="{{ object.original_url }}" target="_blank">
      {{ object.original_url|truncatechars:45 }}
    </a>
  </td>
  <td class="hidden-xs">{{ object.created_at|date:"d M Y H:i" }}</td>
  <td>
    <a href="{{ object.short_url }}" {% if not object.is_expired %}target="_blank"{% endif %} id="{{ object.slug }}">
      {{ object.slug }}
    </a>

    <div class="copy" title="{% trans 'Copy Short Url' %}" data-clipboard-target="#{{ object.slug }}">
      <i class="fa fa-copy fa-lg"></i>
    </div>
  </td>
  <td class="hidden-xs">{{ object.get_expiry_date|date:"d M Y H:i" }}</td>
  <td class="hidden-xs">{{ object.click_count }}</td>
</tr>
