{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <div class="row">
    <form method="post" action="{% url 'create-link' %}">
      {% csrf_token %}
        <div class="col-xs-10 col-sm-10 col-md-offset-1 col-md-6">
          <div class="form-group">
            <input type="url" class="form-control" id="original_url" name="original_url" placeholder="{% trans "Original URL" %}">
          </div>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-2">
          <div class="form-group">
            <select class="form-control" name="expired_in">
              {% for item in expired_in %}
                <option value="{{ item.0 }}">{{ item.1 }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 text-left">
          <button type="submit" class="btn btn-primary">{% trans "Shorten URL" %}</button>
        </div>
    </form>
  </div>
{% endblock %}
