{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <div class="row">
    <div class="link-table col-xs-12 col-md-offset-1 col-md-10">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>{% trans "Original Url" %}</th>
          <th class="hidden-xs">{% trans "Created At" %}</th>
          <th>{% trans "Short Url" %}</th>
          <th class="hidden-xs">{% trans "Expired In" %}</th>
          <th class="hidden-xs">{% trans "Click Count" %}</th>
        </tr>
        </thead>
        <tbody>
        {% include "shortener/_link_detail_single.html" %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
